<h1>Listing articles</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
<<<<<<< HEAD
    <th colspan="2"></th>
=======
>>>>>>> 5a41245922c412ce32382f727bd6bed4ad951369
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
<<<<<<< HEAD
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article), method: :delete, data:{ confirm: 'Are you sure?' } %></td>
=======
>>>>>>> 5a41245922c412ce32382f727bd6bed4ad951369
    </tr>
  <% end %>
</table>

<%= link_to 'New article', new_article_path %>
